In [1]:
print('This product is from \nCategory "A". ')

This product is from
Category "A".

In [6]:
print('This product is from Category "A". \nThat product is from Category "B". ')

This product is from Category "A".
That product is from Category "B".

In [7]:
s = 'Price per unit'
s

'Price per unit'

In [8]:
s1 = s.replace('Price', 'Cost')
s1

'Cost per unit'

In [9]:
s1.startswith('Cost')

True

In [10]:
s1.split()

['Cost', 'per', 'unit']

In [14]:
s1.split(' ', maxsplit=1)

['Cost', 'per unit']

In [16]:
import sys, numpy as np
print(sys.executable)
print("numpy:", np.__version__)

c:\Users\ADACHUKWU\anaconda3\python.exe
numpy: 2.2.6

In [1]:
import sys
print("Kernel Python:", sys.executable)

# Install a NumPy 1.x that works with your other libs
%pip install "numpy<2"

import numpy as np
print("NumPy version now:", np.__version__)

Kernel Python: c:\Users\ADACHUKWU\anaconda3\python.exe
Requirement already satisfied: numpy<2 in c:\users\adachukwu\anaconda3\lib\site-packages (1.26.4)
Note: you may need to restart the kernel to use updated packages.
NumPy version now: 1.26.4

In [5]:
products = ['Milk', 'Sugar', 'Biscuits', 'Eggs']
exp_sales = [10000, 230000, 40000, 50000, 120000]

In [4]:
time_horizon = (1, 3, 12)

In [6]:
for i in products:
    for j in exp_sales:
        for k in time_horizon:
            print([i, j*k])

['Milk', 10000]
['Milk', 30000]
['Milk', 120000]
['Milk', 230000]
['Milk', 690000]
['Milk', 2760000]
['Milk', 40000]
['Milk', 120000]
['Milk', 480000]
['Milk', 50000]
['Milk', 150000]
['Milk', 600000]
['Milk', 120000]
['Milk', 360000]
['Milk', 1440000]
['Sugar', 10000]
['Sugar', 30000]
['Sugar', 120000]
['Sugar', 230000]
['Sugar', 690000]
['Sugar', 2760000]
['Sugar', 40000]
['Sugar', 120000]
['Sugar', 480000]
['Sugar', 50000]
['Sugar', 150000]
['Sugar', 600000]
['Sugar', 120000]
['Sugar', 360000]
['Sugar', 1440000]
['Biscuits', 10000]
['Biscuits', 30000]
['Biscuits', 120000]
['Biscuits', 230000]
['Biscuits', 690000]
['Biscuits', 2760000]
['Biscuits', 40000]
['Biscuits', 120000]
['Biscuits', 480000]
['Biscuits', 50000]
['Biscuits', 150000]
['Biscuits', 600000]
['Biscuits', 120000]
['Biscuits', 360000]
['Biscuits', 1440000]
['Eggs', 10000]
['Eggs', 30000]
['Eggs', 120000]
['Eggs', 230000]
['Eggs', 690000]
['Eggs', 2760000]
['Eggs', 40000]
['Eggs', 120000]
['Eggs', 480000]
['Eggs', 50000]
['Eggs', 150000]
['Eggs', 600000]
['Eggs', 120000]
['Eggs', 360000]
['Eggs', 1440000]

### Lambda functions

In [7]:
(lambda x: x**2) (3)

9